.Detail{
/*	width: 350px;
	height: 400px;
	margin: 0 auto;*/
}
.Detail .summary div{
	display: inline-block;
	vertical-align: top;
}

/*.Detail .summary-text{
	width: 250px;
}
*/
.Detail .summary-text h2{
	margin-top:12px;
}

.Detail .favorite-option{
	width: 50px;
	text-align:right;
}
.Detail .favorite-option p{
	font-size: 30px;
	margin-top:8px;
	color:#ffffff;
	text-shadow: 0px 0px 2px #01579b;
	transition: all .5s;
}

.Detail .favorite-option p:hover{
	text-shadow: 0px 0px 2px rgba(255,128,171,1);
	color: rgba(255,128,171,.25);
}

.Detail .favorite-option p.favorited{
	text-shadow: 0px 0px 2px rgba(255,128,171,1);
	color: rgba(255,128,171,.25);	
}

.Detail .time-series{
	width: 85%;
	margin: 0 auto;
}

.Detail .time-series .caption{
	font-size: 8px;
	width: 8%;
	float:left;
}

.Detail .time-series .caption .temp-barchart-holder{
	min-height: 120px;
}

.Detail .time-series .caption .text{
	min-height: 24px;
}

.Detail .time-series p{
	margin: 0;
}