.Favorites {
	width: 100%;
}

.Favorite {
	background-color: white;
	width: calc(100% - 12px);
	margin: 4px auto;
	padding: 4px;
	border: 2px solid transparent;
	transition: all .5s;
}

.Favorite p, .Favorite h3{
	transition: all .5s;
}

.Favorite:hover{
	border: 8px solid #29b6f6 rgba(41, 182, 246, 1);
}

.Favorite:hover p, .Favorite:hover h3{
	color: #29b6f6;
}

.Favorite h3{
	font-size: 4vw;
}

.Favorite p{
	font-size: 3vw;
}



.Favorite .city-info, .Favorite .weather-info, .Favorite .current-temperature, .Favorite .DayForecast{
	display: inline-block;
}

.Favorite .city-info{
	width: 25%;
}

.Favorite .weather-info{
	width: 75%;
}

.Favorite h3, .Favorite p{
		margin: 0px;
}

.Favorite .current-temperature{
	text-align: center;
}

.Favorite .current-temperature img{
	width: 60%;
}


.DayForecast{
	text-align: right;
	vertical-align: top;
}