.Favorites {
	width: 100%;
}

.Favorite {
	background-color: white;
	width: calc(100% - 8px);
	margin: 4px auto;
}

.Favorite h3{
	font-size: 4vw;
}

.Favorite p{
	font-size: 3vw;
}



.Favorite .city-info, .Favorite .weather-info, .Favorite .current-temperature, .Favorite .DayForecast{
	display: inline-block;
}

.Favorite .city-info{
	width: 25%;
}

.Favorite .weather-info{
	width: 75%;
}

.Favorite h3, .Favorite p{
		margin: 0px;
}

.Favorite .current-temperature{
	text-align: center;
}

.Favorite .current-temperature img{
	width: 60%;
}


.DayForecast{
	text-align: right;
	vertical-align: top;
}