.Header {
	background-color: #29b6f6;
  font-size: 30px;
  position: fixed; 
  top:0px;
  width:100vw;
  height: 72px;
  z-index: 2;
  margin:0px;
  padding:0px;
}

.Header input, .Header select, .Header textarea, .Header select option{
	color:#01579b;
	font-weight: 600;
}
.Header textarea:focus, .Header input:focus, .Header select:focus{
    outline:none !important;
}
.Header ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color:#01579b;
}
.Header ::-moz-placeholder { /* Firefox 19+ */
	color:#01579b;
}
.Header :-ms-input-placeholder { /* IE 10+ */
	color:#01579b;
}
.Header :-moz-placeholder { /* Firefox 18- */
	color:#01579b;
}
