.NavLink{
	width: 50px;
	text-align: center;
	padding: 0 12px;
	position: absolute;
	top: 0;
	transition: all .5s;
}

.NavLink p{
	padding: 21px 0px;
	margin:0px;
	text-align: center;
	color: #ffffff;
	transition: all .5s;
}

.NavLink:hover p{
	color: rgba(1, 87, 154, .5);
}

.NavLink.selected p{
	color: #01579b;
}

.NavLink.settings{
	right:0;
}

.NavLink.favorites{
	right:50px;
}
