.Snapshot{
	font-size: 1.4vw;
	float:left;
}

.Snapshot .temp-barchart-holder{
	min-height: 60px;
	position: relative;
}

.Snapshot .temp-caption{
	vertical-align: bottom;
}

.Snapshot .temp-barchart{
	width: 100%;
	position: absolute;
	bottom:0;
	left:0;
}

.Snapshot .text{
	min-height: 3.5vw;
}

.Snapshot img{
	width: 100%;
	height: auto;
}

.Snapshot p{
	margin: 0;
	text-align: center;
}