.Snapshot{
	float:left;
}

.Snapshot .temp-barchart-holder{
	min-height: 120px;
	position: relative;
}

.Snapshot .temp-caption{
	vertical-align: bottom;
}

.Snapshot .temp-barchart{
	width: 100%;
	position: absolute;
	bottom:0;
	left:0;
}

.Snapshot .weather-icon-holder{
	width: 100%;
	overflow:hidden;
}

.Snapshot img{
	max-width: 150px;
	width: 140%;
	height: auto;
	margin: -20%;
}

.Snapshot .text{
	text-align: center;
}

.Snapshot p{
	margin: 0;
	text-align: center;
}
